html,body {
  width: 100%;
  height: 100%;
  min-width: 600px;
  background: transparent;
  overflow: auto;
  background: -moz-radial-gradient(black 40%, black 100%);
  background: -webkit-gradient(radial, left top, left bottom, color-stop(40%, black), color-stop(100%, black));
  background: -webkit-radial-gradient(black 40%, black 100%);
  background: radial-gradient(black 40%, black 100%);

  font-family: 'Trade Winds', cursive;
}


.span4 {
  color: black;
  font-weight: bold;
 }

#middle {
  position: absolute;
  color: #00FFFF;
  /*background: #0404B4;*/
  font-size: 50px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  bottom: 50%;
}

#links {
  position: absolute;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: blue;
}

li {
  height: 100%;
  width: 33%;
  text-align: center;
  float: left;
  display: inline;
}

a {
  transition: color 2s ease;
  color: blue;
}

a:hover {
  transition: color 2s ease;
  color: white;
}

/*START OF PARTICLES*?
/* remove canvas default margin */
canvas{
  display:block;
  vertical-align:bottom;
}

#particles-js{
  width:100%;
  height:100%;
}

/*END OF PARTICLES*/

.box {
  position: absolute;
  top: 0;
  width: 100%;
  /*background-color: white;*/
  height: 100px;
/*  opacity: .4;
  filter: alpha(opacity=40); For IE8 and earlier */
  color: #0040FF;
  text-align: center;
  padding: 0 auto;
/*  transition: background-color 2s ease;
  background: transparent;
*/}

.lowerBox {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*background-color: white;*/
  height: 100px;
/*  opacity: .4;
  filter: alpha(opacity=40); For IE8 and earlier */
  color: #0040FF;
  text-align: center;
/*  transition: background-color 2s ease;
  background: transparent;
*/}

.text {
  position: absolute;
  bottom: 50%;
  width: 100%;
  height: 100%;
}


#first {
  font-size: 35px;
  width: 24.5%;
  min-width: 149px;
  height: 100px;
  background-color: transparent;
  float: left;
  top: 0%;
  border-radius: 25px;
  line-height: middle;

  transition: background-color 2s ease;
  background-color: transparent;
}

#first:hover{
/*  opacity: .4;
  filter: alpha(opacity=40);  For IE8 and earlier */
  transition: background-color 2s ease;
  background: #6E6E6E;
}


#second {
  font-size: 35px;
  z-index: 5;
  width: 24.5%;
  min-width: 149px;
  height: 100px;
  top: 0%;
  background-color: transparent;
  float: left;
  border-radius: 25px;

  transition: background-color 2s ease;
  background-color: transparent;

}

#second:hover{
 /* opacity: .4;
  filter: alpha(opacity=40);  For IE8 and earlier */
  transition: background-color 2s ease;
  background: #6E6E6E;
}

#third {
  font-size: 35px;
  width: 24.5%;
  min-width: 149px;
  height: 100px;
  background-color: transparent;
  float: left;
  top: 0%;
  border-radius: 25px;

  transition: background-color 2s ease;
  background-color: transparent;
}

#third:hover{
/*  opacity: .4;
  filter: alpha(opacity=40);  For IE8 and earlier */
  transition: background-color 2s ease;
  background: #6E6E6E;
}

#fourth {
  font-size: 35px;
  width: 24.5%;
  min-width: 149px;
  height: 100px;
  background-color: transparent;
  float: left;
  top: 0%;
  border-radius: 25px;

  transition: background-color 2s ease;
  background-color: transparent;
}

#fourth:hover{
/*  opacity: .4;
  filter: alpha(opacity=40);  For IE8 and earlier */
  transition: background-color 2s ease;
  background: #6E6E6E;
}

#fifth {
  font-size: 35px;
  width: 25%;
  min-width: 150px;
  height: 100px;
  background-color: transparent;
  float: left;
  top: 0%;
  border-radius: 25px;

  transition: background-color 2s ease;
  background-color: transparent;
}

#fifth:hover{
/*  opacity: .4;
  filter: alpha(opacity=40);  For IE8 and earlier */
  transition: background-color 2s ease;
  background: #6E6E6E;
}

#sixth {
  font-size: 35px;
  width: 25%;
  min-width: 150px;
  height: 100px;
  background-color: transparent;
  float: left;
  top: 0%;
  border-radius: 25px;

  transition: background-color 2s ease;
  background-color: transparent;
}

#sixth:hover{
/*  opacity: .4;
  filter: alpha(opacity=40);  For IE8 and earlier */
  transition: background-color 2s ease;
  background: #6E6E6E;
}

#seventh {
  font-size: 35px;
  width: 25%;
  min-width: 150px;
  height: 100px;
  background-color: transparent;
  float: left;
  top: 0%;
  border-radius: 25px;

  transition: background-color 2s ease;
  background-color: transparent;
}

#seventh:hover{
/*  opacity: .4;
  filter: alpha(opacity=40);  For IE8 and earlier */
  transition: background-color 2s ease;
  background: #6E6E6E;
}

#eigth {
  font-size: 35px;
  width: 25%;
  min-width: 150px;
  height: 100px;
  background-color: transparent;
  float: left;
  top: 0%;
  border-radius: 25px;

  transition: background-color 2s ease;
  background-color: transparent;
}

#eigth:hover{
/*  opacity: .4;
  filter: alpha(opacity=40);  For IE8 and earlier */
  transition: background-color 2s ease;
  background: #6E6E6E;
}

#infoBox {
  position: absolute;
  color: white;
  background-color: #A4A4A4;
  font-size: 25px;
  font-weight: bold;
  left: 10%;
  width: 75%;
  min-width: 500px;
  text-align: center;
  bottom: 50%;
  z-index: 5;
  margin: 0 auto;
  bottom: 50%;
  font-family: 'Roboto', sans-serif;
}


